.card {
  background-color: #a0d2fe; /* Colore di sfondo della card */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(6, 40, 106); /* Effetto lucido */
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Ingrandisce al passaggio del mouse */
}

.card-body {
  padding: 20px;
}
