@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

.App {
  text-align: center;
}

body,
html {
  background-color: #a8d2f5;
  font-family: "Tajawal", sans-serif;
}
